@font-face {
  font-family: "HelveticaRoman";
  src: url("../public/HelveticaRoman.ttf");
}

.body {
  font-family: HelveticaRoman;
  background-color: var(--light-silver);
  color: var(--silver);
}

h1 {
  font-size: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

h3 {
  padding: 1rem;
  margin-bottom: 1rem;
}

:root {
  --dark-gray: #303434;
  --med-gray: #555555;
  --light-gray: #7e7e76;
  --silver: #a4a2a2;
  --light-silver: #acacac;
}

.row {
  margin: 0;
}

/* nav-bar */
.navbar {
  background-color: var(--dark-gray);
  min-height: 8vh;
  /* position: sticky;
  top: 0; */
  width: 100%;
  opacity: 98%;
  font-size: 1.25rem;
}

.nav-item {
  font-weight: bold;
  font-family: HelveticaRoman;
  color: var(--light-silver);
  cursor: pointer;
}

.nav-item:hover {
  color: var(--light-gray);
}

.nav-brand {
  color: black;
}

/* sections */
.section {
  min-height: 100vh;
  padding-top: 8vh;
}

.section:nth-child(even) {
  background-color: var(--med-gray);
  color: var(--light-silver);
}

.section:nth-child(odd) {
  background-color: var(--light-silver);
  color: var(--dark-gray);
}

/* hero */
#hero h1 {
  font-family: "Courier New", Courier, monospace;
}

/* projects */
.card {
  background-color: var(--med-gray);
  border: white;
  border-radius: 0px;
}

/* contact */
.form-control {
  background-color: var(--light-silver);
  border: black;
  border-style: solid;
}

.form-control:focus {
  background-color: var(--light-silver);
}

#contact button {
  background-color: var(--dark-gray);
  border-radius: 0px;
  border: none;
}

#contact button:hover {
  background-color: var(--light-gray);
}

/* footer */
#footer {
  min-height: 10vh;
  background-color: var(--dark-gray);
  color: var(--light-silver);
}
