@font-face {
  font-family: "HelveticaRoman";
  src: url("../public/HelveticaRoman.ttf");
}

:root {
  --dark-gray: #303434;
  --med-gray: #555555;
  --light-gray: #7e7e76;
  --silver: #a4a2a2;
  --light-silver: #acacac;
}

.body {
  font-family: HelveticaRoman;
  background-color: var(--light-silver);
  color: var(--silver);
}

.row {
  margin: 0;
}

/* nav-bar */
.navbar {
  background-color: var(--dark-gray);
  min-height: 8vh;
  width: 100%;
  opacity: 95%;
  font-size: 1.25rem;
}

.nav-item {
  font-weight: bold;
  font-family: HelveticaRoman;
  color: var(--light-silver);
  cursor: pointer;
  margin: 0 1rem;
}

.nav-item:hover {
  color: var(--light-gray);
}

/* sections */
.section {
  min-height: 100vh;
  padding-top: 8vh;
}

.section:nth-child(even) {
  background-color: var(--med-gray);
  color: var(--light-silver);
}

.section:nth-child(odd) {
  background-color: var(--light-silver);
  color: var(--dark-gray);
}

.nav-button {
  all: unset;
}

/* hero */
#hero {
  padding-top: 0;
}

#hero h3 {
  padding: 1rem;
  margin-bottom: 1rem;
}

.typed {
  display: inline-flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  word-break: break-all;
  overflow: hidden;
  height: 1.2em;
  letter-spacing: 0.05em;
  max-width: max-content;
  animation: typing 3s steps(24, end) infinite alternate;
}

.typed:before {
  content: " ";
  display: inline-block;
}

.typed:after {
  color: var(--dark-gray);
  content: "_";
  animation: blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

#hero a:hover {
  transform: scale(1.25);
}

/* about */
.tech {
  margin: 5px;
  cursor: default;
  transition: color 0.2s ease-out 100ms;
}

.tech:hover {
  color: var(--silver);
}

/* projects */
.card {
  background-color: var(--med-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 0px;
  color: var(--light-silver);
  padding: 1rem;
  min-height: 100%;
}

.card img {
  border: 1px solid var(--dark-gray);
  border-radius: 3qpx;
}

.card-header {
  background-color: var(--med-gray);
  border: none;
  padding-top: 1rem;
}

.card-footer {
  background-color: var(--med-gray);
  border: none;
}

.card-button {
  background-color: var(--dark-gray);
  border-radius: 0px;
  border: 1px solid var(--light-gray);
  color: var(--light-silver);
  width: 65%;
  margin: 0 5px;
}

.card-button:hover {
  background-color: var(--light-gray);
}

.badge {
  margin: 5px;
  font-weight: 400;
  border-radius: 25px;
  padding: 0.4em 0.6em;
  font-size: 0.8em;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--dark-gray);
  color: var(--silver);
}

/* contact */
.form-control {
  background-color: var(--light-silver);
  border: black;
  border-style: solid;
}

.form-control:focus {
  background-color: var(--light-silver);
}

.dark-button {
  background-color: var(--dark-gray);
  border-radius: 0px;
  border: none;
}

.dark-button:hover {
  background-color: var(--light-gray);
}

.modal-content {
  background-color: var(--light-silver);
  border-radius: 3px;
}

.modal-header {
  border-bottom: none;
}

/* footer */
#footer {
  min-height: 10vh;
  background-color: var(--dark-gray);
  color: var(--light-silver);
}
